

*.class
*.class
*.class
*.log
*.class
*.log
*.class
*.properties
*.jar
*.lck
*.xml
*.properties
*.properties
NetBeansProjects/.DS_Store
.DS_Store
*.properties
NetBeansProjects/SistemaCuerpoAcademico/build/built-jar.properties
NetBeansProjects/SistemaCuerpoAcademico/dist/SistemaCuerpoAcademico.html
NetBeansProjects/SistemaCuerpoAcademico/dist/SistemaCuerpoAcademico.jnlp
NetBeansProjects/SistemaCuerpoAcademico/nbproject/build-impl.xml
NetBeansProjects/SistemaCuerpoAcademico/nbproject/genfiles.properties
NetBeansProjects/SistemaCuerpoAcademico/nbproject/jfx-impl.xml
NetBeansProjects/SistemaCuerpoAcademico/nbproject/private/private.properties
NetBeansProjects/SistemaCuerpoAcademico/nbproject/private/private.xml
NetBeansProjects/SistemaCuerpoAcademico/nbproject/project.properties
NetBeansProjects/SistemaCuerpoAcademico/nbproject/project.xml
NetBeansProjects/SistemaCuerpoAcademico/nbproject/UPDATED.TXT
/NetBeansProjects/SistemaCuerpoAcademico/dist/
